.order-wraper {
    border: 1px solid #ddd;
    margin: 30px;
    border-radius: 5px;
}
.title-wrapper {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #ddd;
}
.title-wrapper h4{
    margin: 0;
    font-size: 16px;
}
.order-details-wrapper {
    padding: 10px;
}